
body {
  background-color: black;
  display: flex;
  justify-content: center;

}
h1 {
  color: white;
  text-align: center;

}
p{
  color: grey;
}
p #offset {
  color: white;
  font-size: 20
}
button #bEncode  {
  font-size: 20
}
